@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');


body {
    font-family: fantasy;
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-text-stroke: 0.5px goldenrod;

}

.menu a {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: rgb(227, 253, 253, 0.7);
    -webkit-text-stroke: 0.5px goldenrod;

}

h1 {
    font-family: "Fondamento";
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: rgb(227, 253, 253, 0.7);
}

p {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: rgb(227, 253, 253, 0.7);
}

body {
    margin: 30px;
}

.country-card {
    border: 1px solid rgb(227, 253, 253, 0.7);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 150px;
    color: rgb(227, 253, 253, 0.7);
}

.country-flag {
    width: 100%;
    height: auto;
}

.menu {
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: rgb(227, 253, 253, 0.7);
}

h1 {
    font-size: 3.5em;
    color: #343a40;
}